.choose-catalog-product {
  margin: 22px 0 0 0;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    margin: 82px auto 0 auto;
    max-width: 1440px;
    box-sizing: border-box;
  }
}

.choose-catalog-product__wrapper {
  min-width: 280px;
  margin: 0 auto;
  padding: 0 20px 0 20px;

  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 0 30px 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 0 110px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 80px;
    row-gap: 40px;
    box-sizing: border-box;
    margin: 0;
  }
}
