$black-color: #000000;
$white-color: #ffffff;
$green-color: #68b738;
$red-color: #ff8282;
$basic-gray-color: #f2f2f2;
$gray-color: #cdcdcd;
$light-color: #dcdcdc;
$gray-color-hover: #bababa;
$special-dark-grey-color: #444444;
$light-black-color: #222222;
$special-opacity-dark-grey-color: rgba(68, 68, 68, 0.1);
$light-gray-color: #eaeaea;
$bright-gray-color: #d9d9d9;
$middle-gray-color: #e6e6e6;
$gray-color-hover-catalog: #ebebeb;
$middle-light-gray-color: #e7e7e7;
$gray-plus: #d3d3d3;
$opacity-green-color: rgba(104, 183, 56, 0.85);
$opacity-white-color: rgba(255, 255, 255, 0.3);
$opacity-black-color: rgba(0, 0, 0, 0.4);
$green-color-active: #5eaa2f;

$white-background: #F6F7FF;
$gray-border: #C1C2CA;
$black-text: #1F1E25;
$blue-background: #2C36F2;
$gray-text: #E0E1EA;
$middle-blue-background: #2028B6;
$middle-black-text: #2B3C4F;
$gray-background: #DDE2EC;
$blue-bright-background: #E6F0FD;
$basic-blue-color: #2027B3;
$sky-blue-color: #3841FF;
$middle-gray-background: #E0E0E0;

  // Viewports
$tablet-width: 768px;
$desktop-width: 1024px;
$post-desktop-width: 1365px;
$mobile-width-only: 767px;
