$white-background: #F6F7FF;
$gray-border: #C1C2CA;
$black-text: #1F1E25;
$blue-background: #2C36F2;
$gray-text: #E0E1EA;
$middle-blue-background: #2028B6;
$middle-black-text: #2B3C4F;
$gray-background: #DDE2EC;
$blue-bright-background: #E6F0FD;
$basic-blue-color: #2027B3;
$sky-blue-color: #3841FF;
$middle-gray-background: #E0E0E0;
$blue-gray-text: #394959;
$dark-gray-text: #707C87;
$gray-border: #C4C4C4;
$dark-blue-border: #0A1E32;
$red-border: #b22222;

  // Viewports
$tablet-width: 768px;
$desktop-width: 1024px;
$post-desktop-width: 1365px;
$mobile-width-only: 767px;
