.calculator {
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    padding: 0 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 38px;
  }

  @media (min-width: $post-desktop-width) {
    padding: 0 98px;
  }
}

.calculator__tittle {
  @include font-special(700);
  @include font-size(22px, 31px);

  margin: 53px 0 22px 0;

  @media (min-width: $tablet-width) {
    @include font-size(32px, 45px);

    margin: 70px 0 25px 0;
  }

  @media (min-width: $desktop-width) {
    @include font-size(41px, 57px);

    margin: 96px 0 49px 0;
  }
}

.calculator__form {
  margin: 0 0 52px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 70px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 98px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

.calculator__form-button {
  @include font-special(500);
  @include font-size(14px, 20px);

  color: $white-background;
  padding: 16px;
  text-align: center;
  background-color: $blue-background;
  border-radius: 4px;
  width: 100%;
  border: none;
  overflow-wrap: break-word;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    @include font-size(16px, 19px);

    padding: 16px;
  }

  @media (min-width: $desktop-width) {
    padding: 17px 59px 16px 59px;
    width: auto;
    max-width: 200px;
  }

  &:hover {
    box-shadow: 0 0 3px 3px $blue-background;
  }
}

.calculator__wrapper-parameters {
  @media (min-width: $desktop-width) {
    width: 51.2%;
  }
}

.calculator__wrapper-registration {
  @media (min-width: $desktop-width) {
    background-color: $white-background;
    width: 66%;
    padding: 64px 70px 70px 70px;
    margin: 65px auto 0 auto;
    text-align: center;
  }
}
