.offer {
  @media (min-width: $desktop-width) {
    width: 48.5%;
    justify-self: flex-end;
    padding: 0 0 0 40px;
  }

  @media (min-width: $post-desktop-width) {
    padding: 0 0 0 65px;
  }
}

.offer__wrapper {
  background-color: $white-background;
  margin: 32px 0 43px 0;
  padding: 32px 16px 40px 16px;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    margin: 40px 0 55px 0;
    padding: 54px 60px 60px 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 50px 30px;
  }

  @media (min-width: $post-desktop-width) {
    margin: 0;
    padding: 60px;
  }
}

.offer__tittle {
  @include font-special(500);
  @include font-size(18px, 25px);

  padding: 0 0 24px 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include font-size(22px, 31px);

    padding: 0 0 24px 0;
  }
}

.offer__tittle-popup {
  @include font-special(500);
  @include font-size(18px, 25px);

  padding: 0 0 25px 0;
  margin: 0;
  width: 90%;

  @media (min-width: $tablet-width) {
    @include font-size(22px, 31px);

    width: 65%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.offer__text {
  @include font-special(400);
  @include font-size(16px, 22px);

  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 68%;
  }
}

.offer__list {
  @include reset-list-style();

  margin: 0 0 31px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 6px 0;
  }
}

.offer__item {
  margin: 0 0 12px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 25px 0;
    width: 40%;
    flex-shrink: 1;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.offer__item--padding {
  @media (min-width: $desktop-width) {
    padding: 0 0 0 31px;
  }
}

.offer__value {
  @include font-special(500);
  @include font-size(18px, 25px);

  margin: 0 0 1px 0;

  @media (min-width: $tablet-width) {
    @include font-size(22px, 31px);
  }
}

.offer__description {
  @include font-special(400);
  @include font-size(16px, 22px);

  margin: 0;
}

.offer__button {
  @include font-special(500);
  @include font-size(14px, 20px);

  color: $white-background;
  padding: 18px 0 13px 0;
  text-align: center;
  background-color: $blue-background;
  border-radius: 4px;
  width: 100%;
  border: none;

  @media (min-width: $tablet-width) {
    @include font-size(16px, 22px);

    margin: 5px 0 0 0;
    padding: 16px 0 13px 0;
  }

  &:hover {
    box-shadow: 0 0 3px 3px $blue-background;
  }
}
