.offer {
  @media (min-width: $desktop-width) {
    width: 50%;
    justify-self: flex-end;
    padding: 0 0 0 40px;
  }

  @media (min-width: $post-desktop-width) {
    padding: 0 0 0 70px;
  }
}

.offer__wrapper {
  background-color: $white-background;
  margin: 32px 0 48px 0;
  padding: 40px 16px;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    margin: 43px 0 60px 0;
    padding: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 50px 30px;
  }

  @media (min-width: $post-desktop-width) {
    margin: 0;
    padding: 60px;
  }
}

.offer__tittle {
  @include font-special(500);
  @include font-size(18px, 25px);

  padding: 0 0 35px 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include font-size(22px, 31px);

    padding: 0 0 40px 0;
  }
}

.offer__list {
  @include reset-list-style();

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.offer__item {
  margin: 0 0 19px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 35px 0;
    width: 40%;
    flex-shrink: 1;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.offer__value {
  @include font-special(500);
  @include font-size(18px, 25px);

  margin: 0 0 7px 0;

  @media (min-width: $tablet-width) {
    @include font-size(22px, 31px);

    margin: 0 0 10px 0;
  }
}

.offer__description {
  @include font-special(400);
  @include font-size(16px, 22px);

  margin: 0;
}

.offer__button {
  @include font-special(500);
  @include font-size(14px, 20px);

  color: $white-background;
  padding: 20px 0;
  text-align: center;
  background-color: $blue-background;
  border-radius: 4px;
  width: 100%;
  border: none;

  @media (min-width: $tablet-width) {
    @include font-size(16px, 22px);

    margin: 5px 0 0 0;
  }
}
