.slider__list {
  scroll-snap-type: x mandatory;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  -ms-overflow-style: none;
}

.slider__list::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

.slider__slide {
  scroll-snap-align: start;
  min-width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr;
}

.slider__slide--second {
  background-color: $gray-background;
}

.slider__slide--third {
  background-color: $blue-bright-background
}

.slider__slide--first {
  background-color: $blue-background;
  padding: 0 0 10px 0;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(90deg, $blue-background 58.5%, $sky-blue-color 58.5%, $sky-blue-color 82%, $basic-blue-color 82%);
    box-shadow: inset -10px 180px 70px 0 $blue-background;
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(90deg, $basic-blue-color 11%, $sky-blue-color 11%, $sky-blue-color 22.5%, $blue-background 22.5%, $blue-background 58.5%, $sky-blue-color 58.5%, $sky-blue-color 78.3%, $basic-blue-color 78.3%);
    box-shadow: inset -10px 230px 70px 0 $blue-background;
  }
}

.slider__white-card-wrapper {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  display: flex;
  justify-content: flex-end;
  z-index: 0;
  height: 237px;

  @media (max-width: $tablet-width - 1px) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    height: 272px;
  }
}

.slider__tittle-text {
  @include font-special(700);
  @include font-size(38px, 44px);

  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: 42px 0 0 0;
  height: min-content;
  z-index: 2;
  padding: 0 0 0 15px;
  max-width: 200px;

  @media (min-width: $tablet-width) {
    @include font-size(46px, 54px);

    padding: 0 0 0 86px;
    margin: 70px 0 0 0;
    max-width: 330px;
  }

  @media (min-width: $desktop-width) {
    @include font-size(54px, 63px);

    padding: 0 0 0 208px;
    margin: 70px 0 0 0;
    max-width: 550px;
  }

  @media (min-width: $post-desktop-width) {
    padding: 0 0 0 268px;
    margin: 93px 0 0 0;
  }
}

.slider__tittle-text--first-slide {
  color: $white-background;
}

.slider__text {
  @include font-special(400);
  @include font-size(16px, 19px);

  grid-column: 1 / 2;
  grid-row: 2 / 3;
  z-index: 2;
  margin: 7px 0 0 0;
  color: $middle-black-text;
  padding: 0 0 0 15px;
  width: 230px;

  @media (min-width: $tablet-width) {
    @include font-size(18px, 21px);

    padding: 0 0 0 86px;
    width: 420px;
  }

  @media (min-width: $desktop-width) {
    @include font-size(22px, 26px);

    padding: 0 0 0 208px;
    width: 620px;
    margin: 12px 0 0 0;
  }

  @media (min-width: $post-desktop-width) {
    padding: 0 0 0 268px;
    width: 670px;
  }
}

.slider__text--first-slide {
  color: $gray-text;

  @media (min-width: $desktop-width) {
    z-index: 6;
  }
}

.slider__button {
  @include font-special(500);
  @include font-size(14px, 16px);

  grid-column: 1 / 2;
  grid-row: 3 / 4;
  color: $black-text;
  background-color: $white-background;
  border-radius: 4px;
  border: none;
  padding: 16px 31px;
  width: max-content;
  max-width: 188px;
  height: min-content;
  margin: 21px 0 0 15px;
  z-index: 5;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    @include font-size(16px, 19px);

    padding: 18px 31px 19px 31px;
    margin: 30px 0 75px 86px;
    max-width: 206px;
  }

  @media (min-width: $desktop-width) {
    @include font-size(18px, 21px);

    margin: 36px 0 100px 208px;
    padding: 19px 36px 21px 36px;
    box-shadow: 0 0 30px 50px $blue-background;
    max-width: 234px;
  }

  @media (min-width: $post-desktop-width) {
    margin: 36px 0 0 268px;
  }

  &:hover {
    box-shadow: 0 0 3px 3px $white-background;
  }
}

.slider__button--blue {
  color: $white-background;
  background-color: $blue-background;
  padding: 17px 37px 16px 37px;
  box-shadow: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 18px 38px 19px 38px;
  }

  &:hover {
    box-shadow: 0 0 3px 3px $blue-background;
  }
}

.slider__black-card-wrapper {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  display: flex;
  justify-content: flex-end;
  z-index: 1;

  @media (min-width: $tablet-width) {
    height: 287px;
  }

  @media (min-width: $desktop-width) {
    height: 332px;
  }
}

.slider__image-wrapper {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

.slider__black-card {
  margin: 33px 0 0 0;
  z-index: 4;

  @media (min-width: $tablet-width) {
    margin: 90px 160px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 103px 140px 0 0;
  }

  @media (min-width: $post-desktop-width) {
    margin: 103px 330px 0 0;
  }
}

.slider__white-card {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    justify-self: flex-end;
    margin: 47px 77px 0 0;
  }

  @media (min-width: $desktop-width) {
    justify-self: flex-end;
    margin: 45px 57px 0 0;
  }

  @media (min-width: $post-desktop-width) {
    margin: 45px 220px 0 0;
  }
}

.slider__indicators {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: flex;
  z-index: 5;
  align-items: flex-end;
  justify-self: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
  }
}

.slider__slide--second .slider__indicators,
.slider__slide--third .slider__indicators {
  padding: 0 0 10px 0;
}

.slider__indicator {
  border-radius: 50%;
  background-color: $middle-blue-background;
  width: 6px;
  height: 6px;
  z-index: 5;
  margin: 0 3px;

  @media (min-width: $tablet-width) {
    width: 8px;
    height: 8px;
    margin: 0 4px;
  }
}

.slider__indicator--active {
  background-color: $white-background;
}
