.steps {
  padding: 0;
  margin: 0;
  border: none;
}

.steps__text-tittle {
  @include font-special(500);
  @include font-size(16px, 22px);

  margin: 0 0 12px 0;

  @media (min-width: $tablet-width) {
    @include font-size(18px, 25px);

    margin: 0 0 20px 0;
  }

  @media (min-width: $desktop-width) {
    @include font-size(22px, 31px);

    margin: 0 0 22px 0;
  }
}

.steps__text-tittle--padding {
  margin: 0 0 10px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 13px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 30px 0;
  }
}

.steps__text-tittle--margin {
  @media (min-width: $desktop-width) {
    margin: 0 0 16px 0;
  }
}

.steps__text-tittle--center {
  text-align: center;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 7px;
  }
}

.steps__options {
  @include reset-list-style();

  padding: 0;
  background-color: transparent;
}

.steps__option {
  @include font-special(400);
  @include font-size(16px, 22px);

  border-bottom: 1px solid $gray-border;
  padding: 20px 15px;
  display: flex;
  align-items: center;

  &:last-child {
    border-bottom: none;
  }

  &:first-child {
    border-top: 1px solid $dark-blue-border
  }

  @media (min-width: $tablet-width) {
    padding: 20px 25px;
  }
}

.steps__toggle {
  @include font-special(500);
  @include font-size(16px, 22px);

  border: none;
  background-color: transparent;
  padding: 18px 30px 18px 15px;
  width: 100%;
  text-align: left;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 20px 23px 16px 23px;
  }

  @media (min-width: $desktop-width) {
    top: 25px;
  }

  &:hover {
    box-shadow: 0 0 0 2px $gray-border;
    border: -2px solid $black-text;
    border-radius: 4px;
  }
}

.steps__select-box {
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid $black-text;
  margin: 0 0 25px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 35px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 33px 0;
  }
}

.steps__toggle-down:after {
  content: "";
  position: absolute;
  right: 15px;
  top: 25px;
  width: 16px;
  height: 10px;
  background-image: url("../../../../src/img/nock-down.svg");
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;

  @media (min-width: $tablet-width) {
    top: 25px;
    right: 23px;
  }

  @media (min-width: $desktop-width) {
    top: 25px;
  }
}

.steps__toggle-up:after {
  content: "";
  position: absolute;
  right: 15px;
  top: 25px;
  width: 16px;
  height: 10px;
  background-image: url("../../../../src/img/nock-up.svg");
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;

  @media (min-width: $tablet-width) {
    top: 25px;
    right: 23px;
  }

  @media (min-width: $desktop-width) {
    top: 25px;
  }
}

.steps__wrapper {
  margin: 0 0 10px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 14px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 18px 0;
  }
}

.steps__input-wrapper {
  margin: 8px 0 6px 0;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 9px 0 6px 0;
  }
}

.steps__input-tittle {
  @include font-special(400);
  @include font-size(16px, 22px);

  color: $blue-gray-text;
}

.steps__input-description {
  @include font-special(400);
  @include font-size(14px, 20px);

  display: flex;
  justify-content: flex-start;
  border: 1px solid $black-text;
  border-radius: 4px;
  height: 60px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 1;
  position: relative;

  &:hover  {
    box-shadow: 0 0 0 2px $gray-border;
  }
}

.steps__input-description--incorrect {
  border: 2px solid $red-border;
}

.steps__incorrect-value {
  position: absolute;
  color: $red-border;
  top: -35%;
}

.steps__input {
  @include font-special(500);
  @include font-size(16px, 22px);

  border: none;
  width: 53%;
  height: 100%;
  text-align: right;
  background-color: transparent;
  padding: 0 0 0 60px;
  outline: none;

  @media (min-width: $tablet-width) {
    width: 51%;
  }

  @media (min-width: $desktop-width) {
    @include font-size(18px, 25px);

    width: 51%;
  }
}

.steps__input--width-fee {
  width: 50%;
}

.steps__input--width-term {
  width: 46%;

  @media (min-width: $tablet-width) {
    width: 48.5%;
  }

  @media (min-width: $desktop-width) {
    width: 48%;
  }
}

.steps__currency {
  @include font-special(500);
  @include font-size(16px, 22px);
  display: flex;
  align-items: center;
  margin: 0 0 0 4px;

  @media (min-width: $desktop-width) {
    @include font-size(18px, 25px);
  }
}

.steps__button-plus {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  justify-self: flex-end;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  cursor: pointer;
  padding: 0 0 0 4px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    padding: 0;
  }
}

.steps__button-minus {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 60px;
  height: 60px;
  border: none;
  background-color: transparent;
  justify-self: flex-start;
  z-index: 2;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 0 0 8px;
}

.steps__description {
  @include font-special(400);
  @include font-size(14px, 20px);

  color: $dark-gray-text;
  display: block;
}

.steps__input-range {
  width: 100%;
}

.steps__checkbox-tittle {
  @include font-special(400);
  @include font-size(14px, 20px);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $black-text;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    @include font-size(16px, 22px);
  }
}

.steps__checkbox-tittle:hover .steps__checkbox-image {
  box-shadow: 0 0 1px 1px $blue-background;
}

.steps__checkbox-tittle > input:checked ~ .steps__checkbox-image path {
  stroke: $white-background;
}

.steps__checkbox-image path {
  stroke: transparent;
}

.steps__checkbox-tittle span {
  margin-left: 9px;
}

.steps__checkbox-image {
  margin: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: $blue-background;
}

.steps__list {
  @include reset-list-style();

  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.steps__item {
  border-bottom: 1px solid $gray-border;
  padding: 15px 0 12px 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0 10px 0;
  }
}

.steps__value {
  @include font-special(500);
  @include font-size(18px, 25px);

  margin: 0 0 2px 0;

  @media (min-width: $tablet-width) {
    @include font-size(22px, 31px);

    margin: 0;
  }
}

.steps__description-tittle {
  @include font-special(400);
  @include font-size(16px, 22px);

  margin: 0;
  color: $blue-gray-text;
}

.steps__input-user-data {
  @include font-special(400);
  @include font-size(16px, 22px);

  border: 1px solid $black-text;
  border-radius: 4px;
  width: 100%;
  height: 60px;
  padding: 0 15px;
  margin: 0 0 20px 0;

  @media (min-width: $tablet-width) {
    @include font-size(18px, 25px);

    margin: 0 0 30px 0;
    padding: 0 25px;
  }

  @media (min-width: $desktop-width) {
    background-color: $white-background;
  }

  &:hover {
    box-shadow: 0 0 2px 2px $gray-border;
  }
}

.steps__description-wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.steps__user-data-wrapper {
  margin: 0 0 10px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 7px 0;
  }
}

.steps__user-data-description {
  @media (min-width: $tablet-width) {
    width: 48%;
  }
}

.steps__user-data-description--full-width {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
