.additions {
  border-top: 2px solid $green-color;
  border-right: none;
  border-bottom: none;
  border-left: none;
  padding: 0;
  margin: 21px 0 23px 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0 30px 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 70px 0 70px;
  }
}

.additions__title {
  position: relative;
  bottom: 3px;

  @media (min-width: $tablet-width) {
    bottom: 5px;
  }
}

.additions__list {
  @include reset-list-style();

  min-width: 280px;
  margin: 31px 20px 0 20px;

  @media (min-width: $tablet-width) {
    margin: 51px 40px 54px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 68px;
    row-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 84px;
    margin: 65px auto 63px auto;
    max-width: 1220px;
  }
}

.additions__item {
  margin: 0 0 12px 0;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0;
    min-width: 276px;
  }

  @media (min-width: $desktop-width) {
    min-width: 241px;
  }
}

.additions__input {
  &:hover ~ .additions__input-description {
    &::before {
      box-shadow: inset 0 0 0 1px $gray-color-hover;
    }
  }

  &:disabled ~ .additions__input-description {
    opacity: 0.3;
    outline: none;

    &::before {
      opacity: 0.3;
      outline: none;
    }
  }
}

.additions__input-description {
  display: flex;
  align-items: center;
  width: max-content;
}

.additions__input-description::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../img/check-box.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-right: 17px;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}

.additions__input:checked ~ .additions__input-description::after {
  content: "";
  position: absolute;
  left: 7px;
  width: 18px;
  height: 14px;
  background-image: url("../img/mark-checked.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @media (min-width: $tablet-width) {
    left: 13px;
  }
}
