.choose-program {
  border-top: 1px solid $bright-gray-color;
  border-bottom: 1px solid $bright-gray-color;
  border-right: none;
  border-left: none;
  padding: 22px 0 5px 0;

  @media (min-width: $tablet-width) {
    padding: 25px 27px 10px 28px;
    margin: 0 68px 0 70px;
    border: 1px solid $bright-gray-color;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 28px;
    margin: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
}

.choose-program__list {
  @include reset-list-style();

  min-width: 280px;
  margin: 0 20px 0 18px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 24px 0 24px 0;
    min-width: 533px;
  }
}

.choose-program__item {
  margin: 0 0 13px 0;

  &:last-child {
    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }
}

.choose-program__input-description {
  display: flex;
  align-items: center;
  width: max-content;
}

.choose-program__input {
  &:hover ~ .choose-program__input-description {
    &::before {
      border: 1px solid $gray-color-hover;
    }
  }

  &:disabled ~ .choose-program__input-description {
    opacity: 0.3;
    outline: none;

    &::before {
      opacity: 0.3;
      outline: none;
    }
  }
}

.choose-program__input-description::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $gray-color;
  border-radius: 50%;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    margin-right: 21px;
  }
}

.choose-program__input:checked + .choose-program__input-description::before {
  box-shadow: inset 0 0 0 7px $white-color, inset 0 0 0 15px $green-color;


  @media (min-width: $tablet-width) {
    box-shadow: inset 0 0 0 10px $white-color, inset 0 0 0 30px $green-color;
  }
}
