.page-form {
  @media (min-width: $tablet-width) {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: min-content min-content;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }
}

.page-form__title {
  color: $black-color;
  margin: 0;
  padding: 28px 20px 36px 20px;

  @include font-special(400);
  @include font-size(36px, 36px);

  @media (min-width: $tablet-width) {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    padding: 44px 70px 54px 69px;

    @include font-size(60px, 60px);
  }

  @media (min-width: $desktop-width) {
    padding: 59px 110px 55px 110px;
    margin: 0 auto;
    width: 1440px;
  }
}
