.copyright__link {
  padding: 21px 0 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $special-dark-grey-color;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 3px 0 0 0;
  }

  &:hover {
    color: $green-color;
  }

  &:active {
    color: $green-color;
    opacity: 0.3;
  }
}

.copyright__link-text {
  color: $special-dark-grey-color;

  @include font-size(16px, 18px);

  @media (min-width: $tablet-width) {
    margin: 2px 23px 0 0;
  }
}
