.social {
  @include reset-list-style();

  display: flex;
  flex-direction: row;
  margin: 15px 0 0 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    justify-self: flex-start;
    padding: 0 0 0 12px;
    position: relative;
    top: -10px;
  }

  @media (min-width: $desktop-width) {
    justify-self: flex-end;
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    padding: 0;
    top: 7px;
  }
}

.social__item {
  width: min-content;
  margin: 3px 0 0 17px;

  @media (min-width: $desktop-width) {
    margin: 3px 0 0 13px;
  }

  &:first-child {
    margin-left: 0;
  }
}

.social__link-logo {
  width: 16px;
  height: 16px;
}
