.button {
  background-color: $green-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 10px 0;
  color: $white-color;
  text-transform: uppercase;

  &:hover {
    background-color: $green-color-active;
  }

  &:active {
    color: $opacity-white-color;
  }

  @include font-size(14px, 18px);
  @include font-special(400);

  @media (min-width: $tablet-width) {
    padding: 0;

    @include font-size(20px, 20px);
  }
}
