.contacts-item__input-worksheet {
  height: 45px;
  width: 100%;
  border: 1px solid $middle-light-gray-color;
  box-sizing: border-box;
  padding: 0 50px 0 12px;

  @media (min-width: $tablet-width) {
    height: 52px;
    padding: 0 50px 0 20px;
  }

  &:focus {
    outline: 2px solid $special-dark-grey-color;
    border: 1px solid $special-dark-grey-color;
  }

  &:not(:focus):invalid {
    outline: none;
    border: 1px solid $middle-light-gray-color;
  }

  &:not(:focus):invalid ~ .contacts-item__icon-email,
  &:not(:focus):invalid ~ .contacts-item__icon-telephone {
    color: $light-black-color;
  }

  &:invalid {
    outline: 2px solid $red-color;
    border: 1px solid $red-color;
  }

  &:disabled {
    outline: 2px solid $special-dark-grey-color;
    border: 1px solid $special-dark-grey-color;
  }

  &:invalid ~ .contacts-item__icon-email {
    color: $red-color;
  }

  &:disabled ~ .contacts-item__icon-email {
    color: $green-color;
  }

  &:invalid ~ .contacts-item__icon-telephone {
    color: $red-color;
  }

  &:disabled ~ .contacts-item__icon-telephone {
    color: $green-color;
  }
}

.contacts-item__icon-email {
  position: absolute;
  right: 15px;

  @media (min-width: $desktop-width) {
    right: 12px;
  }
}

.contacts-item__icon-telephone {
  position: absolute;
  right: 12px;

  @media (min-width: $desktop-width) {
    right: 17px;
  }
}
